<div class="header">
  <div>
    <mat-form-field style="min-width: 80%;">
      <input matInput type="text" [(ngModel)]="url">
      <mat-hint align="start"><strong>Get from url</strong> </mat-hint>
    </mat-form-field>
    <button (click)="getFromUrl()" class="marginLeft20">Get from url
    </button>
    <br>
      <mat-form-field style="min-width: 250px;">
        <input matInput type="text" [(ngModel)]="firstClassName" (change)="refreshParameters()">
        <mat-hint align="start"><strong>First Class Name</strong> </mat-hint>
      </mat-form-field>
      <mat-form-field style="min-width: 250px;" class="paddingLeft20">
        <input matInput type="text" [(ngModel)]="templateForDuplicates" (change)="refreshParameters()">
        <mat-hint align="start"><strong>Duplicate Names Template</strong> </mat-hint>
      </mat-form-field>
      <mat-form-field style="min-width: 250px;" class="paddingLeft20">
        <mat-select placeholder="Tab:" [(ngModel)]="tab" (selectionChange)="updateText()">
          <mat-option *ngFor="let tab of tabArrays" [value]="tab.value">
            {{ tab.text }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="paddingLeft20" [(ngModel)]="withInterfaces" (change)="updateText()">Use interfaces?
      </mat-checkbox>
  </div>
</div>
<div class="bottomBox">
  <div class="table">
    <div class="codeBox">
      <div class="headerBox">
        <p>JSON for convert</p>
      </div>
      <div class="code">
        <textarea [(ngModel)]="inputText" rows="40" cols="80"></textarea>
      </div>
    </div>
    <div class="codeBox">
      <div class="headerBox">
        <p>Result</p>
        <i class="material-icons toolbar" (click)="copyTextToClipboard()" placeholder="Copy result">
          file_copy
        </i>
      </div>
      <div class="code resultBox" highlightChildren>
        <code #code [highlight]="showResult" [languages]="['typescript']" id="code"></code>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <button (click)="getText()">Convert</button>
    <button (click)="copyTextToClipboard()" class="marginLeft20">Copy result</button>
  </div>
  <div style="margin-top: 10px;">
  </div>
</div>